.cards {
  margin: 68px 0 50px;
  padding: 0;
  display: grid;
  max-width: 1140px;
  width: 100%;
  list-style: none;
  gap: 32px 28px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.cards__not-found {
  margin: 0;
  padding: 0;
  color: #A0A0A0;
  font-size: 17px;
  font-weight: 500;
}

.cards__not-found-hidden {
  display: none;
}

@media (max-width: 600px) {
  .cards {
    margin-top: 40px;
    gap: 16px 0;
  }
}
