.cards {
  margin: 119px 0 50px;
  padding: 0;
  display: grid;
  max-width: 1140px;
  width: 100%;
  list-style: none;
  gap: 32px 28px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  border: 1px solid red;
  place-items: center;
}

@media (max-width: 540px) {
  .cards {
    margin-top: 90px;
    gap: 14px;
    max-width: 300px;
  }
}
