.cards {
  margin: 70px 0 50px;
  padding: 0;
  display: grid;
  max-width: 1140px;
  width: 100%;
  list-style: none;
  justify-items: center;
  gap: 32px 28px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  align-self: center;
}
