.popup {
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0px 0px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  /* для показа модального окна по /signin, /signup, /profile закоментить код ниже */

  visibility: hidden;
  opacity: 0;
  transition-property: opacity visibility;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  max-width: 430px;
  height: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  color: #5C5C5C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__close {
  padding: 0;
  background-image: url(../../images/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: 0;
  position: absolute;
  width: 45px;
  height: 45px;
  top: -37px;
  right: -37px;
}

.popup__close:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

.popup__icon {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0;
}

.popup__title {
  margin: 0;
  max-width: 330px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
