.nav {
  display: flex;
  max-width: 1102px;
  width: 100%;
  position: relative;
}

.nav__pc {
  display: flex;
  max-width: 1102px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
}

.nav__mobile {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__burger {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__burger:hover {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}

.nav__pages {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 212px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__page {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  display: none;
}

.nav__page:first-of-type {
  display: none;
}

.nav__page_type_loggedIn {
 display: flex;
}

.nav__page_type_loggedIn:first-of-type {
  display: none;
}

.nav__page:hover {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 183px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font: inherit;
  color: #fff;
  text-decoration: none;
}

.nav__links_type_loggedIn {
  display: none;
}

.nav__link:nth-of-type(2) {
  color: #000;
  background-color: #2BE080;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link:hover {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
}

.nav__accaunt {
  margin: 0;
  padding: 9px 12px;
  width: 100px;
  height: 32px;
  border: 2px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: none;
}

.nav__accaunt_type_loggedIn {
  display: flex;
}

.nav__accaunt:hover {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}

.nav__icon {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.nav__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 990px) {
  .nav__pc {
    display: none;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 520px;
    width: 100%;
    opacity: 1;
    z-index: 2;
  }

  .nav__mobile_active {
    box-shadow: 0px 0px 400px 400px rgba(143, 140, 140, 0.418);
    transition: box-shadow .3s linear;
  }

  .nav__mobile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .nav__pages {
    margin-top: 159px;
    flex-direction: column;
  }

  .nav__page_type_loggedIn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  .nav__page_type_loggedIn:hover{
    text-decoration: underline 1px #2BE080;

  }

  .nav__page_type_loggedIn:first-of-type {
    display: flex;
  }

  .nav__accaunt_type_loggedIn {
    margin-top: 593px;
    margin-bottom: 90px;
  }

  .nav__accaunt:hover {
    border: 2px solid #2BE080;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
  }
}
